body {
    padding-bottom: 50px;
    margin-bottom: 100px;
    background-color: #ededed;
}

header {
    text-align: center;
}

.index-page {
    padding-bottom: 300px;
    margin-bottom: 100px;
}

/* The sidebar menu */
.avatar {
    border-radius: 50%;
    height: 17%;
    width: 50%;
}

.menu-gallery {
    margin: 5px;
    float: left;
    width: 60px;
}

.sidebar-text {
    text-align: center;
    color: #f1f1f1;
    font-family: Andale Mono, monospace;
}

.email-link {
    padding-top: 250px;
}

.sidenav {
    margin-right: 25px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 325px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #22222e; /* Navy */
    overflow: hidden; /* Hide scrollbars */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.cv-btn-div {
    padding-bottom: 50px;
}

.nav-logos:hover {
    opacity: 0.6;
}

/* Style page content */
.main {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 5px 5px 250px 250px;
}

.desc {
    color: black;
    font-family: Andale Mono, monospace;
}

.info-text {
    margin-left: 25px;
    margin-right: 25px;
}

.headers-text {
    margin-left: 25px;
    margin-right: 25px;
}


.projects {
    margin-left: 150px;
    margin-right: auto;
    padding: 40px 50px 255px 1px;
    position: absolute;
}

.project-name {
    text-align: center;
}

div.gallery {
    margin: 1px 8px 8px 1px;
    background-color: white;
    border: 5px solid #22222e;
    float: left;
    height: 360px;
    width: 240px;
    padding: 20px;
}

div.gallery:hover {
    border: 5px solid black;
}

div.gallery img {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

div.gallery img:hover {
    opacity: 0.6;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: black;
    text-align: right;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    div.info-text {
        font-size: 30px;
    }
}