/*
 John Shields
 Style Sheet for the Index HTML file
*/

body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

header {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 20px;
    color: black;
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    max-width: 40%;
    height: auto;
}

.description {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.author-name {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top: 5px;
    float: bottom;
    color: black;
    margin-left: 50px;
}

.hyper-links {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 50px;
    vertical-align: baseline;
}